$font-base: #f4f3ee;
$backround-base: #252321;
$color-base-1: #424039;
$color-base-2: #5e6054;
$color-base-3: #768474;
$color-gray: #8a8880;
$color-dark-gray: #1b1a18;
$color-mid-dark-gray: #2e2c29;